# IP of your device in your local network or '0.0.0.0' to listen on all devices interfaces
HOST = "0.0.0.0"
PORT = 6060

# Path to SlowMovie application
SLOW_MOVIE_EXECUTION_PATH = "/home/pi/SlowMovie/slowmovie.py"
# Path to SlowMovie movies
SLOW_MOVIE_VIDEO_PATH = "/home/pi/SlowMovie/Videos"